<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="footer.component.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,200&display=swap"
		rel="stylesheet">
	<link rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
		integrity="sha512-Yr5V7gp5xxW8zvuvYcMQ4Q4c4wF0b8IOvfvvjoX9Sgj+iLoGzMb8ELvTzYfUsB1JECwATW2Q2v+h/N1s9q3cig=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <section class="Services">
		<h1>Services que nous proposons</h1>
		<p>Découvrez notre sélection de services et trouvez celui qui répond le mieux à vos besoins!</p>
		<div class="row">
			<div class="services-col">
				<h3>Affichage Des Resultats</h3>
				<p>Consultez facilement vos résultats et gérez vos absences en quelques clics. Simplifiez votre vie
					étudiante avec notre outil pratique et intuitif.</p>

			</div>
			<div class="services-col">
				<h3>Suivie Des Absences</h3>
				<p>consultez vos absences sécurisés - Obtenez les informations dont vous avez besoin en toute sécurité!
				</p>

			</div>
			<div class="services-col">
				<h3>Administration</h3>
				<p>Gagnez le temps et simpifier la gestion universitaire !.</p>

			</div>

		</div>
	</section>
    <!-- Footer -->
    <section class="footer">
        <h4>à propos de nous</h4>
        <p>Sur ce site, vous pouvez trouver tout ce qu’il faut savoir sur notre université, ses études, ses chercheurs,
            ses services et ses activités.</p>




        <div class="wrapper">
            <a href="https://www.facebook.com/" target="_blank">
                <div class="button">
                    <img src='/assets/facebook.png' alt="Twitter Icon">
                    <span>Facebook</span>
                </div>
            </a>
            <a href="https://twitter.com/" target="_blank">
                <div class="button">
                    <img src='/assets/OIP.jpg' alt="Instagram Icon">
                    <span>Twitter</span>
                </div>
            </a>
            <a href="https://www.linkedin.com/" target="_blank">
                <div class="button">
                    <img src='/assets/linkedin.jpg' alt="YouTube Icon">
                    <span>Linkedin</span>
                </div>
            </a>
        </div>



        <p>Made with <span class="heart-icon"></span> by Groupe Gest-Universitaire</p>

    </section>
</body>

</html>