<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Description de notre site web</title>
    <link rel="stylesheet" href="information.component.css">
    <style>

    </style>
</head>

<body>
    <div style="background-color: black;">
        <div class="center-image">
            <img src="/assets/dark.jpg" alt="" height="350" width="1000">

        </div>
    </div>

    <section class="background-color">
        <p>Notre plateforme est conçue pour répondre aux besoins des étudiants, des enseignants et des
            administrateurs
            en matière de gestion de l'éducation. Nous avons développé des fonctionnalités pour l'affichage des
            résultats, la consultation des absences par les étudiants, la gestion des absences par les enseignants,
            la
            gestion des profils enseignants et étudiants par les administrateurs.

            Pour les étudiants, notre site leur permet de consulter leurs résultats d'examens en temps réel, ainsi
            que
            de suivre leur progression tout au long de leur parcours éducatif. Ils peuvent également consulter leurs
            absences pour s'assurer qu'ils ne manquent pas de cours importants. Nous avons conçu une interface
            intuitive
            pour leur permettre d'accéder facilement à ces informations.

            Les enseignants peuvent utiliser notre site pour gérer les absences de leurs étudiants et pour suivre
            leur
            propre calendrier d'enseignement. Ils peuvent facilement accéder à l'ensemble des absences des étudiants
            et
            prendre les mesures nécessaires pour les aider à rattraper leur retard. Nous avons également mis en
            place un
            système de suivi des notes et de notation pour les enseignants, ce qui leur permet de saisir et de
            stocker
            les résultats des examens et des travaux pratiques.

            Les administrateurs peuvent utiliser notre site pour gérer les profils des enseignants et des étudiants,
            ainsi que leur accès à la plateforme. Ils peuvent également gérer les horaires des cours, les salles de
            classe, et les réservations de matériel pédagogique. Notre plateforme est conçue pour simplifier la
            gestion
            des tâches administratives pour les établissements éducatifs.

            Enfin, nous sommes fiers de dire que notre site web est développé par le groupe Gest-universitaire, un
            groupe spécialisé en Génie Logiciel. Nous avons utilisé les dernières technologies pour assurer que
            notre
            site est rapide, sécurisé, et facile à utiliser. Nous sommes convaincus que notre plateforme est la
            solution
            idéale pour les établissements éducatifs qui cherchent à améliorer leur gestion de l'éducation, et nous
            sommes impatients de la partager avec vous.</p>


    </section>


    <section class="cta">
        <h1>Decouvrire notre services en lignes,gagner du temps et <br>simpifier votre taches </h1>
        <a routerLink="/login" class="hero-btn"> Contact Us</a>

    </section>
</body>

</html>