<section class="background-image">
<div class="text-box">
    <h1>Gest-Universitaire</h1>

    <p>Le site de gestion
        universitaire permet d'afficher les résultats des étudiants, de suivre les absences et
        de gérer les données des étudiants, des<span class="space"></span> <span class="space"></span><span
            class="space"></span><span class="space"></span><span class="space"></span><span
            class="space"></span><span class="space"></span><span class="space"></span><span
            class="space"></span><span class="space"></span><span class="space"></span><span
            class="space"></span><span class="space"></span><span class="space"></span><span
            class="space"></span><span class="space"></span><span class="space"></span><span
            class="space"></span><span class="space"></span>enseignants
        et des spécialités.
        Cet outil pratique facilite l'organisation et la gestion de l'université.
    </p>
    <a routerLink="/login" class="hero-btn">Connectez vous ! </a>
</div>
</section>